<div class="center hero-unit">
<h1>Hotel Advisor</h1>
<h2>
Welcome to our website
</h2>
 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("HAlogo.jpg", alt: "HA"), '#' %>